@charset "UTF-8";
@import "variable";

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: block
}

body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.opl-tree {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  padding: 6px 0;
  &__node {
    transition: padding 0.2s linear;
    padding: 2px 0;
    width: auto;
    position: relative;
    //user-select: none;
    //-webkit-user-select: none;
    //-ms-user-select: none;
    //-moz-user-select: none;

    &__border--top {
      display: none;
    }

    &--active > .opl-tree__node__content > .opl-tree__node__name {
      font-weight: bold;
      color: $primary-color;
    }

    &__content {
      width: calc(100% - 20px);
      padding: 0 10px;
      margin: 0 10px;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-transition: background-color .2s ease-in;
      -moz-transition: background-color .2s ease-in;
      -ms-transition: background-color .2s ease-in;
      -o-transition: background-color .2s ease-in;
      transition: background-color .2s ease-in;
      &:hover {
        background-color: $black-alpha-10;
      }
    }

    //&__child-nodes {
    //  padding-left: 20px;
    //}

    &__child-nodes {
      display: none;
      will-change: height;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
    }

    &__icon {
      z-index: 100;
      cursor: pointer;
      border-top:4px solid transparent;
      border-bottom:4px solid transparent;
      border-right: none;
      border-left: 4px solid $black-alpha-20;
      transition: all 0.1s ease-out;
      user-select: none;
      margin-right: 3px;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      //font-family: "opus-icon-font";
      //font-style: normal;
      //font-weight: normal;
      //speak: none;
      display: inline-block;
      //text-decoration: inherit;
      //width: 1em;
      //text-align: center;
      //font-variant: normal;
      //text-transform: none;
      //line-height: 1em;
      //-webkit-font-smoothing: antialiased;
      //-moz-osx-font-smoothing: grayscale;
      //font-size: 16px;

      &:before {
        z-index: 100;
        //content: '\e95b';
      }
      &.opl-tree__node__icon--hidden {
        visibility: hidden;
      }
    }
    &__check {
      margin-left: 10px;
    }

    &__name {
      display: inline-block;
      border: 2px solid transparent;
      z-index: 0;
      padding: 1px 3px;
      margin: 3px 0;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      font-size: 12px;
      color: rgba(0, 0, 0, .8);
      &--search-part {
        color: $point-color;
      }
    }

    &[data-tree-level='1'] {
      & .opl-tree__node__name {
        font-size: 14px;
      }
    }

    &[data-tree-level='2'] {

    }

    &[data-tree-level='3'] {

    }

    &[data-tree-level='4'] {

    }

    &_check + .opl-tree__node__name {
      padding: 5px 10px 5px 30px;
      margin-left: -20px;
    }

    //&__name:hover {
    //  background-color: rgba(0, 0, 0, 0.1);
    //}

    &--dragged {
      display: none;
      content: 'aaa';
      position: absolute;
      left: 10px;
      top: 10px;
      color: $black-alpha-80;
      cursor: move;

      & > .opl-tree__node--dragged__title {
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        opacity: .5;
        padding: 5px 10px;
        border-radius: 2px;
        border: 2px solid rgba(242, 61, 61, 0.8);
        background-color: rgba(242, 61, 61, 0.6);
        color: white;
        font-size: 14px;
      }
      &.opl-tree__node--drop-possible {
        & > .opl-tree__node--dragged__title {
          border-color: rgba(50, 166, 98, .8);
          background-color: rgba(50, 166, 98, .6);
        }

        & .opl-tree__node--dragged__status-icon {
          color: rgba(0, 0, 0, 0.8);
        }
      }

      &__status:before {
        content:' ';
        position: absolute;
        width:15px;
        height:19px;
        border-bottom-left-radius: 15px;
        border-left: 2px solid rgba(0, 0, 0, 0.5);
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        top: -6px;
        left: -19px;
      }
      &__status {

        position: relative;
        margin-left: 50px;
        display: block;
        margin-top: 10px;
        font-size: 12px;
        background-color: white;
        line-height: 16px;
        padding: 5px 15px;
        border-radius: 18px;
        color: rgba(0, 0, 0, 0.8);
        border: 2px solid rgba(0, 0, 0, 0.5);
      }
      &__status-icon {
        margin-right: 5px;
        font-family: opus-icon-font;
        line-height: 16px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        right: 10px;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        color: rgba(242, 61, 61, 1);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 12px;

      }
    }

    &--expand {

      & > .opl-tree__node__child-nodes {
        display: block;
      }
      & > .opl-tree__node__content > .opl-tree__node__icon {
        //content: '\e961';
        transform: rotate(45deg) translate(2px, 0);
        border-left: 4px solid  $primary-color-alpha-80;
      }
      & > .opl-tree__node__content > .opl-tree__node__name {
        font-weight: bold;
      }
    }

    &--collapse {

      & > .opl-tree__node__child-nodes {
        display: none;
      }
      & > .opl-tree__node__content > .opl-tree__node__icon {
        //content: '\e95b';
        transform: rotate(0deg);
      }
    }

    &--expand-by-search {
      display: block;
      & > .opl-tree__node__child-nodes {
        display: block !important;
      }
      &  > .opl-tree__node__content> .opl-tree__node__icon {
        //content: '\e961' !important;
        transform: rotate(45deg) translate(2px, 0);
        border-left: 4px solid  $primary-color-alpha-80;
      }
      & > .opl-tree__node__content > .opl-tree__node__name {
        font-weight: bold;
      }
    }

    &--collapse-by-search {

      & > .opl-tree__node__child-nodes {
        display: none !important;
      }
      & > .opl-tree__node__content > .opl-tree__node__icon {
        //content: '\e95b' !important;
        transform: rotate(0deg);
      }
    }

    &__node--hidden {
      display: none;
    }
    //&--collapse {
    //
    //  & > ul {
    //    display: none;
    //  }
    //}

    &.opl-tree__node--hidden {
      display: none;
    }

  }

  &__root-node{
    padding-left: 0;
    display: block;
    max-height: none;
  }

  &.opl-tree--drag-mode {
    //& .opl-tree__node {
    //  padding: 2px 0;
    //}
    & .opl-tree__node--dragged {
      display: block;
    }

    [class^='opl-tree__node__border'] {
      position: absolute;
      left: 0;
      width: 300px;
      height: 10px;
      z-index: 100;
      cursor: move;

      &.hover {
        &:before {
          visibility: visible;
          opacity: 1;
        }
        &:after {
          visibility: visible;
          opacity: 1;
        }
      }

      &:before {
        content: ' ';
        width: 6px;
        height: 6px;
        border-radius: 6px;
        border: 2px solid $primary-color;
        position: absolute;
        left: -9px;
        visibility: hidden;
      }
      &:after {
        content: ' ';
        position: absolute;
        left: 0;
        top: 3px;
        width: 300px;
        display: inline-block;
        height: 4px;
        background-color: $primary-color;
        visibility: hidden;
      }
    }

    & .opl-tree__node__border--bottom {
      display: inline-block;
      bottom: -5px;
    }

    & .opl-tree__node:first-child > .opl-tree__node__border--top {
      display: inline-block;
      top: -3px;
    }

    & .opl-tree__node__content.hover {
      background-color: transparent;
    }

    & .opl-tree__node__name.hover {
      background-color: $primary-color-alpha-80;
      color: white;
      border-radius: 3px;
    }

    & .opl-tree__node__name.opl-tree__node--target-parent {
      box-sizing: border-box;
      border: 2px solid $primary-color-alpha-80;
      color: $primary-color-alpha-80;
      border-radius: 3px;
    }

    & .opl-tree__node__content:hover {
      background-color: transparent;
    }
  }
}