$primary-color: rgba(58, 67, 166, 1);
$primary-color--text--disabled: rgba(58, 67, 166, 0.3);
$primary-color--disabled: rgba(58, 67, 166, 0.1);

$point-color: rgba(255, 144, 34, 1);

$text-color-default: rgba(0, 0, 0, 0.8);
$text-color-sub: rgba(0, 0, 0, 0.5);
$text-color-hint: rgba(0, 0, 0, 0.3);

$text-color-default--light : rgba(255, 255, 255, 1);
$text-color-sub--light: rgba(255, 255, 255, 0.7);
$text-color-hint--light: rgba(255, 255, 255, 0.3);

$segment-button-border-color: rgba(0, 0, 0, 0.2);
$segment-button-border-color--disabled: rgba(0, 0, 0, 0.1);

$primary-color-alpha-80: rgba(58, 67, 166, .8);

$black-alpha-5: rgba(0, 0, 0, 0.05);
$black-alpha-10: rgba(0, 0, 0, 0.10);
$black-alpha-15: rgba(0, 0, 0, 0.15);
$black-alpha-20: rgba(0, 0, 0, 0.20);
$black-alpha-25: rgba(0, 0, 0, 0.25);
$black-alpha-30: rgba(0, 0, 0, 0.30);
$black-alpha-35: rgba(0, 0, 0, 0.35);
$black-alpha-40: rgba(0, 0, 0, 0.40);
$black-alpha-45: rgba(0, 0, 0, 0.45);
$black-alpha-50: rgba(0, 0, 0, 0.50);
$black-alpha-55: rgba(0, 0, 0, 0.55);
$black-alpha-60: rgba(0, 0, 0, 0.60);
$black-alpha-65: rgba(0, 0, 0, 0.65);
$black-alpha-70: rgba(0, 0, 0, 0.70);
$black-alpha-75: rgba(0, 0, 0, 0.75);
$black-alpha-80: rgba(0, 0, 0, 0.80);
$black-alpha-85: rgba(0, 0, 0, 0.85);
$black-alpha-90: rgba(0, 0, 0, 0.90);
$black-alpha-95: rgba(0, 0, 0, 0.95);
$black-alpha-100: rgba(0, 0, 0, 1);
